.cardContainer {
  margin: 0 auto;
  padding: 50px 0;
  width: 1280px;
  background-color: rgb(249, 250, 250);
  display: grid;
  justify-items: center;
  gap: 50px 10px;
  grid-template-columns: auto auto auto auto;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.sortButton {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  gap: 20px;
}

.manageCards {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
}
