.cardContainer {
  margin: 0 auto;
  padding: 50px 0;
  width: 1280px;
  background-color: rgb(249, 250, 250);
  display: grid;
  justify-items: center;
  gap: 50px 10px;
  grid-template-columns: auto auto auto auto;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
