.header {
  height: 100px;
  padding: 0 50px;
  background-color: rgb(249, 250, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.logo-img {
  height: 32px;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 20px;
}

.active-nav {
  display: flex;
  gap: 10px;
  color: red;
}
.nav p {
  cursor: pointer;
}
.search {
  height: 25px;
  cursor: pointer;
}
