.card-container {
  background-color: rgb(249, 250, 250);
  padding: 50px 0;
  padding-left: 50px;
}
.country-card {
  text-align: center;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.country-card-flag {
  width: 100%;
}

.country-card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.more-info {
  color: #424200;
  padding-top: 20px;
  cursor: pointer;
}
