.cardContainer {
  margin: 0 auto;
  padding: 50px 0;
  width: 1280px;
  background-color: rgb(249, 250, 250);
  display: grid;
  justify-items: center;
  gap: 50px 10px;
  grid-template-columns: auto auto auto auto;
}

.countryCard {
  text-align: center;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 10px;
  padding-bottom: 20px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
